body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.containar-1{
    display: flex;
    margin: 20px;
    margin-left: 500px;
}
.a-tag{
    width: 10%;
    padding:20px
}
a{
    text-decoration: none;
    color: rgb(134, 115, 115);
}
.containar{
    display: flex;
    margin: 4%;
    margin-bottom: 50px;

}
.step-1{
    width: 50%;
    padding: 15px;
}
.step-1 img{
    width: 100%;
}
.text-bold{
    font-size: 58px;
    font-weight: 600;
}
p{
    font-weight: 100px;
    color: rgb(77, 71, 71);
}
.color{
    color: coral;
}
.botton{
    text-decoration: none;
    background-image: linear-gradient(gold,lime);
    padding: 12px 20px;
    border-radius: 20px;
    color: white;
}
.step-2{
   background-image: url(images/7.png);
   background-repeat: no-repeat;
   display: flex;
   height: 500px;
   margin-bottom: 50px;
}
.step-3{
    width: 50%;
    padding: 70px;
}
.step-3 img{
    width: 51%;
    padding-left: 140px;
}
.step-3 p{
    padding-right: 50px;
}
h2{
    font-size: 35px;
}
.step-4{
    text-align: center;
    margin-bottom: 50px;
}
.last-step img{
    height: 300px;
    width: 380px;
    border-radius: 20px;
}
.containar-last{
    display: flex;
    margin: 20px;
}
.last-step{
    box-shadow: 10px 10px 15px;
    padding: 15px;
    margin: 15px;
    border-radius: 25px;
    margin-bottom: 50px;
}
.containar-5{
    display: flex;
    box-shadow: 10px 10px 15px;
    margin: 10px 40px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.step-6{
    width: 30%;
    margin-left: 10%;
    padding: 15px 50px
}
.step-7{
    font-size: 20px;
}
footer{
    background-color: black;
    width: 100%;
    height: 180px;
    text-align: center;
    color: white;
    padding-top: 10px;
}
.footer-color{
    color: tomato;
}
hr{
    width: 60%;
    height: 10px;
    background-image: linear-gradient(rgb(255, 156, 7),lime);
}
