body{
    font-family: 'Poppins', sans-serif;
}
.containar{
    display: flex;
    margin: 4%;
    margin-bottom: 50px;

}
.step-1{
    width: 50%;
    padding: 15px;
}
.step-1 img{
    width: 100%;
}
.text-bold{
    font-size: 60px;
    font-weight: 600;
}
p{
    font-weight: 100px;
    color: rgb(77, 71, 71);
}
.color{
    color: coral;
}
.botton{
    text-decoration: none;
    background-image: linear-gradient(gold,lime);
    padding: 12px 20px;
    border-radius: 20px;
    color: white;
}
.step-2{
   background-image: url(images/7.png);
   background-repeat: no-repeat;
   display: flex;
   height: 500px;
   margin-bottom: 50px;
}
.step-3{
    width: 50%;
    padding: 70px;
}
.step-3 img{
    width: 52%;
    padding-left: 140px;
}
.step-3 p{
    padding-right: 50px;
}
h2{
    font-size: 35px;
}
.step-4{
    text-align: center;
    margin-bottom: 50px;
}