body{
    font-family: 'Poppins', sans-serif;
}
.containar{
    display: flex;
    margin: 4%;
    margin-bottom: 5px;

}
.step-1{
    width: 50%;
    padding: 15px;
}
.step-1 img{
    width: 100%;
}
.text-bold{
    font-size: 60px;
    font-weight: 600;
}
p{
    font-weight: 100px;
    color: rgb(77, 71, 71);
}
.color{
    color: coral;
}
a{
    text-decoration: none;
    background-image: linear-gradient(gold,lime);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}
